<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><a href="http://news.ycombinator.com/booker">Open the HN booker</a><p>
    <p><a href="http://news.ycombinator.com">Open Hacker News</a><p>
    <br/>
    <p>The unsubscribe feature isn't implemented yet. Please <a href="mailto:jmtame@gmail.com">let me know</a> if you want this, since I don't know how annoying/frequent these e-mails will become.</p>
  </body>
</html>